Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*, 
  hicpp-*,
  modernize-*,
  performance-*,
  readability-*,
  readability-identifier-naming,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-function-cognitive-complexity,
  readability-redundant-control-flow,
  readability-redundant-smartptr-get,
  readability-static-accessed-through-instance,
  readability-uniqueptr-delete-release,
  readability-avoid-const-params-in-decls

WarningsAsErrors: '*'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: 'm_'
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumValueCase
    value: UPPER_CASE
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticMemberCase
    value: camelBack
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypeParameterCase
    value: CamelCase
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroParameterCase
    value: UPPER_CASE
  - key: cppcoreguidelines-narrowing-conversions
    value: 1
  - key: cppcoreguidelines-pro-type-member-init
    value: 1
  - key: cppcoreguidelines-special-member-functions
    value: 1
  - key: modernize-use-nullptr
    value: 1
  - key: modernize-use-override
    value: 1
  - key: performance-unnecessary-value-param
    value: 1
  - key: modernize-concat-nested-namespaces
    value: 1
  - key: cppcoreguidelines-init-variables
    value: 1
